.logo {
    img {
        height: 100px;
        margin-top: -20px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }
    h1 {
        margin: 0px;
        padding: 0px;
        font-size: 50px;
        display: inline-block;
        height: 100px;
        line-height: 100px;
        color: #6D6D6D;
    }
}